<div class="review">
  <div class="container">
    <h2>Nos jeux vidéos disponibles</h2>

    <div>
      <div class="column">
        <div class="col-1">
          <a href="#"
            ><img class="img-responsive" id="id" src="assets/re7.jpg" alt=""
          /></a>
          <h4><a href="#">Trasnformers</a></h4>
          <p>
            Transformers est un jeu vidéo de tir à la troisième personne
            développé par Edge of Reality et édité par Activision, sorti en 2014
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a href="#"
            ><img id="id" class="img-responsive" src="assets/re1.jpg" alt=""
          /></a>
          <h4><a href="#">Avangers</a></h4>
          <p>
            Marvel's Avengers est un jeu vidéo édité par Square Enix Europe en
            collaboration avec Marvel Games. Il est développé par Crystal
            Dynamics, Eidos Montréal, Nixxes Software et Crystal Northwest.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a href="#"
            ><img class="img-responsive" id="id" src="assets/re2.jpg" alt=""
          /></a>
          <h4><a href="#">Tekken 5 </a></h4>
          <p>
            Tekken 5 est un jeu vidéo de combat développé et édité par Namco
            commercialisé en 2004 sur borne d'arcade, puis adapté l'année
            suivante sur console PlayStation 2.
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div>
      <div class="column">
        <div class="col-1">
          <a href="#"
            ><img class="img-responsive" id="id" src="assets/re3.jpg" alt=""
          /></a>
          <h4><a href="#">PES 2015</a></h4>
          <p>
            Pro Evolution Soccer 2015, régulièrement abrégé PES 2015 et connu
            également sous le nom de World Soccer: Winning Eleven 2015 en Asie,
            est un jeu vidéo de football de la série Pro Evolution Soccer
            développé et publié par Konami.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a href="#"
            ><img class="img-responsive" id="id" src="assets/re4.jpg" alt=""
          /></a>
          <h4><a href="#">Angry Birds</a></h4>
          <p>
            Angry Birds est un jeu vidéo de type artillerie et puzzle développé
            et édité par la société finlandaise Rovio Mobile. Inspiré à
            l'origine par des dessins stylisés d'oiseaux sans ailes et ni
            pattes, le jeu fut lancé à l'origine sur iOS en décembre 2009.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a href="#"
            ><img class="img-responsive" id="id" src="assets/re5.jpg" alt=""
          /></a>
          <h4><a href="#">Grand Theft AUTO V</a></h4>
          <p>
            Grand Theft Auto V est un jeu vidéo d'action-aventure, développé par
            Rockstar North et édité par Rockstar Games. Il est sorti en 2013 sur
            PlayStation 3 et Xbox 360, en 2014 sur PlayStation 4 et Xbox One, en
            2015 sur PC puis en 2022 sur PlayStation 5 et Xbox Series.
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
