<mat-card *ngFor="let formation of formations$ | async">
  <button mat-icon-button>
    <mat-icon (click)="delete(formation.id)" color="warn">delete</mat-icon>
  </button>
  <div class="formation-name">
    {{ formation.titre }}
  </div>
  <div class="formation-place">
    <b class="color">Lieu de la formation </b>
    <br />
    <br />
    {{ formation.lieu }}
  </div>
  <div class="date-of-starting">
    <b class="color">Date et heure de début de la formation </b>
    <br />
    <br />
    {{ formation.dateDeb | date: "dd/MM/yyyy hh:mm" }}
  </div>
  <div class="date-of-ending">
    <b class="color">Date et heure de fin de la formation </b>
    <br />
    <br />
    {{ formation.dateFin | date: "dd/MM/yyyy hh:mm" }}
  </div>
  <img
    class="img-responsive"
    src="assets/aim.png"
    width="150px"
    height="150px"
    alt=""
  />
  <div class="container">
    <a [routerLink]="['/evaluation']" mat-raised-button class="btn btn-5">
      Postuler
    </a>
  </div>
</mat-card>

<h1>Donnez nous vos feedbacks</h1>
<div class="item">
  <div class="container">
    <a [routerLink]="['/evaluation']" mat-raised-button class="btn btn-5">
      FeedBack
    </a>
  </div>
</div>
