<div class="review">
  <div class="container">
    <h2>Nos Coachs</h2>

    <div>
      <div class="column">
        <div class="col-1">
          <a [routerLink]="['/evaluation']"
            ><img class="img-responsive" id="id" src="assets/sick.png" alt=""
          /></a>
          <h4><a href="#">Sick</a></h4>
          <p>
            Hunter Mims, mieux connu sous le nom de sick, est un joueur
            professionnel américain de Valorant pour Sentinels
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a [routerLink]="['/evaluation']"
            ><img id="id" class="img-responsive" src="assets/zombs.png" alt=""
          /></a>
          <h4><a href="#">Zombs</a></h4>
          <p>
            Jared Gitlin, mieux connu sous le nom de Zombs, est un joueur
            professionnel américain de Valorant pour Sentinels
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a [routerLink]="['/evaluation']"
            ><img
              class="img-responsive"
              id="id"
              src="assets/shahzam.png"
              alt=""
          /></a>
          <h4><a href="#">Shahzam </a></h4>
          <p>
            Shahzeb Khan, mieux connu sous le nom de Shahzam, est un joueur
            professionnel américain de Valorant pour Sentinels
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div>
      <div class="column">
        <div class="col-1">
          <a [routerLink]="['/evaluation']"
            ><img class="img-responsive" id="id" src="assets/tenz.png" alt=""
          /></a>
          <h4><a href="#">Tenz</a></h4>
          <p>
            Tyson Ngo, mieux connu sous le nom de Tenz, est un joueur
            professionnel canadien de Valorant pour Sentinels
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a [routerLink]="['/evaluation']"
            ><img class="img-responsive" id="id" src="assets/dapr.png" alt=""
          /></a>
          <h4><a href="#">Dapr</a></h4>
          <p>
            Michael Gulino, mieux connu sous le nom de Dapr, est un joueur
            professionnel américain de Valorant pour Sentinels
          </p>
        </div>
      </div>
      <div class="column">
        <div class="col-1">
          <a [routerLink]="['/evaluation']"
            ><img
              class="img-responsive"
              id="id"
              src="assets/sinatra.png"
              alt=""
          /></a>
          <h4><a href="#">Sinatra</a></h4>
          <p>
            Jay Won, mieux connu sous le nom de Sinatraa, est un joueur
            professionnel américain de Valorant pour Sentinels
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
